/.cpcache
/.clj-kondo/.cache
/.clj-kondo/imports
/plugin-dev-tools.iml
/.scribe/conversations
.nrepl-port
test/fixtures
.idea/libraries/
/test-project/.cpcache
/test-project/.clj-kondo/.cache
/test-project/.clj-kondo/imports
